.scroll{
    border: none;
    outline: none;
    background: none;
    font-size: 46px;
    position: fixed;
    z-index: 4;
    color: #FF0000;
    cursor: pointer;
    right: 50px;
	bottom: 50px;
}